{% extends "base.html" %}
{% block content %}

<h2>{{data.legal_name}}</h2></br>
<b>Company ID : </b>{{data.id}}</br>
<b>EIN Number : </b>{{data.ein}}</br>
<b>Entity Type : </b>{{data.entity.type}}</br>
<b>Company Email : </b>{{data.primary_email}} </br>
<b>Company Phone : </b>{{data.primary_phone_number}}</br></br>

<h3>Departments</h3>    

<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Parent</th>
        </tr>
      </thead>
      <tbody>

    {% for item in data.departments%}
    {% if item.parent != None  %}
    <tr>
        <td>{{item.name}}</td>
        <td>{{item.parent.name}}</td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>

<h3>Locations</h3>    

<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">Line 1</th>
          <th scope="col">Line 2</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
          <th scope="col">Country</th>
          <th scope="col">Postal Code</th>
        </tr>
      </thead>
      <tbody>

    {% for item in data.locations%}
    <tr>
        <td>{{item.line1}}</td>
        <td>{{item.line2}}</td>
        <td>{{item.city}}</td>
        <td>{{item.state}}</td>
        <td>{{item.country}}</td>
        <td>{{item.postal_code}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h3>Institutions</h3>    

<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">Institution Name</th>
          <th scope="col">Account Name</th>
          <th scope="col">Account Type</th>
          <th scope="col">Account Number</th>
          <th scope="col">Routing Number</th>
        </tr>
      </thead>
      <tbody>

    {% for item in data.accounts%}
    <tr>
        <td>{{item.institution_name}}</td>
        <td>{{item.account_name}}</td>
        <td>{{item.account_type}}</td>
        <td>{{item.account_number}}</td>
        <td>{{item.routing_number}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}