{% extends "base.html" %}
{% block content %}
<main>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Welcome to <b>ACME</b></h1>
    <p class="fs-5 text-muted">No more clicking through multiple applications or sourcing countless excel files. View all or user's data in one easy dashboard!</p>
  </div>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal"><b>Company</b></h4>
        </div>
        <div class="card-body">
          <p>Find information about your company and other info.</p>
          <a href="/company" role="button" class="w-100 btn btn-lg btn-outline-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal"><b>Employee</b> </h4>
        </div>
        <div class="card-body">
          <p>Review your companies employees and their data.</p>
          <a href="/people" role="button" class="w-100 btn btn-lg btn-outline-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal"><b>Payroll</b></h4>
        </div>
        <div class="card-body">
          <p>Review payroll periods and balances.</p>
          <a href="/payroll" role="button" class="w-100 btn btn-lg btn-outline-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal"><b>Benefits</b></h4>
        </div>
        <div class="card-body">
          <p>Understand what your company offers in benefits.</p>
          <a href="/benefits" role="button" class="w-100 btn btn-lg btn-outline-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
